.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--colour-white);
  border: 1px solid var(--colour-gray-200);
  border-radius: 12px;
  color: var(--colour-gray-600);
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  max-width: 448px;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      border-radius: 9999px;
      background-color: var(--colour-gray-300);
      color: var(--colour-gray-800);
      font-size: 1.5rem;
      font-weight: 600;
    }

    h1 {
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--colour-gray-800);
    }

    p {
      color: var(--colour-gray-500);
    }
  }

  hr {
    border: none;
    border-top: 1px solid var(--colour-gray-200);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .formActionsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      text-decoration: none;

      button {
        width: 100%;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
