.card {
  background-color: var(--colour-white);
  border: 1px solid var(--colour-gray-200);
  border-radius: 12px;
  color: var(--colour-gray-600);
  padding: 2rem;
  text-align: center;

  header {
    margin-block-end: 2rem;

    h1 {
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 28px;
      color: var(--colour-gray-800);
      margin-block-end: 0.25rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
