.section {
  display: flex;
  gap: 1.5rem;
  margin-block-end: 2rem;

  .categorySummaryContainer {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--colour-white);
    border: 1px solid var(--colour-gray-200);
    border-radius: 12px;
    max-width: 378px;
    width: 100%;

    .icon {
      padding: 0.25rem;
    }

    h3 {
      font-size: 1.75rem;
      color: var(--colour-gray-800);
      font-weight: 700;
      margin-block-end: 0.5rem;
      line-height: 32px;
    }

    p {
      font-size: 0.75rem;
      font-weight: 600;
      color: var(--colour-gray-500);
      text-transform: uppercase;
    }
  }
}
