.card {
  background-color: var(--colour-white);
  border: 1px solid var(--colour-gray-200);
  border-radius: 12px;
  color: var(--colour-gray-600);
  padding: 2rem;
  text-align: center;

  header {
    margin-block-end: 2rem;

    h1 {
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 28px;
      color: var(--colour-gray-800);
      margin-block-end: 0.25rem;
    }
  }

  form {
    .formFieldsContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-block-end: 1.5rem;
    }

    .formActionsContainer {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .alternativeContainer {
        display: flex;
        align-items: center;

        span {
          margin-inline: 0.75rem;
          color: var(--colour-gray-500);
          font-size: 0.875rem;
        }

        hr {
          flex: 1;
          border-block-start: 1px solid var(--colour-gray-300);
          color: transparent;
        }
      }

      .doLoginContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        font-size: 0.875rem;
        color: var(--colour-gray-600);

        a {
          text-decoration: none;

          button {
            width: 100%;
          }
        }
      }
    }
  }
}
