.header {
  display: flex;
  justify-content: space-between;
  height: 69px;
  padding: 1rem 3rem;
  margin: 0 auto;
  max-width: 1280px;

  ul {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    list-style: none;
    padding: 0;
  }
}
