.container {
  display: flex;
  flex-direction: column;

  label {
    text-align: start;
    font-weight: 500;
    font-size: 0.875rem;
    margin-block-end: 0.5rem;
    color: var(--colour-gray-700);
  }

  .iconInputContainer {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--colour-white);
    border: 1px solid var(--colour-gray-300);
    padding: 0.875rem 0.75rem;
    border-radius: 8px;
    background-color: var(--colour-white);

    .icon {
      color: var(--colour-gray-400);
    }

    .showPasswordButton {
      border: none;
      background: none;
      cursor: pointer;
      color: var(--colour-gray-700);
    }

    input {
      flex: 1;
      border: none;
      padding: 0;
      color: var(--colour-gray-800);

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        color: var(--colour-gray-400);
      }
    }
  }

  .helpText {
    font-size: 0.75rem;
    color: var(--colour-gray-500);
    text-align: start;
    margin-block-start: 0.5rem;
  }

  &:focus-within {
    label {
      color: var(--colour-brand-base);
    }

    .iconInputContainer {
      .icon {
        color: var(--colour-brand-base);
      }
    }
  }
}
