.container {
  width: 379px;
  border-radius: 12px;
  background-color: var(--colour-white);
  border: 1px solid var(--colour-gray-200);
  align-self: flex-start;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0.75rem 1.25rem 1.5rem;
    border-block-end: 1px solid var(--colour-gray-200);

    h3 {
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 0.6px;
      color: var(--colour-gray-500);
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      text-decoration: none;
      color: var(--colour-brand-base);
      font-size: 0.875rem;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .contentContainer {
    padding: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
