.container {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  padding: 1rem 1.5rem;
  border-block: 1px solid var(--colour-gray-200);

  .categoryIcon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colour-gray-200);
    border-radius: 8px;
    margin-inline-end: 1rem;
  }

  .title {
    color: var(--colour-gray-800);
    font-weight: 500;
    font-size: 1rem;
    margin-block-end: 0.125rem;
  }

  .date {
    color: var(--colour-gray-600);
    font-size: 0.875rem;
  }

  .categoryContainer {
    padding-inline: 3rem;

    .category {
      padding: 0.25rem 0.75rem;
      background-color: var(--colour-gray-200);
      width: min-content;
      border-radius: 9999px;

      p {
        font-size: 0.875rem;
      }
    }
  }

  .amountContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    p {
      color: var(--colour-gray-800);
      font-weight: 600;
      font-size: 0.875rem;
    }

    .income {
      color: var(--colour-brand-base);
    }

    .expense {
      color: var(--colour-red-base);
    }
  }
}
