.section {
  max-width: 782px;
  background-color: var(--colour-white);
  border-radius: 12px;
  border: 1px solid var(--colour-gray-200);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0.75rem 1.25rem 1.5rem;

    h3 {
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 0.6px;
      color: var(--colour-gray-500);
    }

    .seeAllLink {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      text-decoration: none;
      color: var(--colour-brand-base);
      font-size: 0.875rem;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 1.5rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--colour-brand-base);
      gap: 0.25rem;
      font-size: 0.875rem;
      font-weight: 500;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
