.container {
  flex: 1;
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid var(--colour-gray-200);
  background-color: var(--colour-white);

  .header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-block-end: 1rem;

    h3 {
      color: var(--colour-gray-500);
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }

    .total {
      color: var(--colour-purple-base);
    }

    .income {
      color: var(--colour-brand-base);
    }

    .expense {
      color: var(--colour-red-base);
    }
  }

  p {
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--colour-gray-800);
  }
}
